<form class="row g-3 mb-4 pb-2">
    <div class="col-8">
      <div class="form-outline">
        <input type="text" id="taskTitle" class="form-control" [(ngModel)]="taskTitle"
          [ngModelOptions]="{standalone: true}" (ngModelChange)="titleFilter()" (keypress)="toPersian($event)"
          placeholder="عنوان وظیفه" />

        <input type="hidden" id="taskId" class="form-control" [(ngModel)]="taskId"
          [ngModelOptions]="{standalone: true}" />
      </div>
    </div>

    <div class="col-4 text-end">
      <app-icon-button color="primary" type="submit" title="افزودن وظیفه" icon="plus-circle-fill"
        (clicked)="addTask()"></app-icon-button>

      <app-icon-button color="danger" type="submit" title="حذف همه" icon="trash3-fill" customClass="mx-1"
        (clicked)="deleteAll()"></app-icon-button>
    </div>
  </form>
