<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">

            <h4 class="text-center my-3 pb-3">نرم افزار لیست وظایف</h4>

            <form class="row g-3 mb-4 pb-2">
              <div class="col-8">
                <div class="form-outline">
                  <input type="text" id="taskTitle" class="form-control" [(ngModel)]="taskTitle"
                    [ngModelOptions]="{standalone: true}" (ngModelChange)="titleFilter()" (keypress)="toPersian($event)"
                    placeholder="عنوان وظیفه" />

                  <input type="hidden" id="taskId" class="form-control" [(ngModel)]="taskId"
                    [ngModelOptions]="{standalone: true}" />
                </div>
              </div>

              <div class="col-4 text-end">
                <button type="submit" class="btn btn-primary" data-toggle="tooltip" title="افزودن وظیفه"
                  (click)="addTask()"><i class="bi bi-plus-circle-fill"></i><!-- افزودن
                  وظیفه--></button>
                <button type="submit" class="btn btn-danger mx-1" data-toggle="tooltip" title="حذف همه"
                  (click)="deleteAll()">
                  <i class="bi bi-trash3-fill"></i><!--حذف همه--></button>
              </div>

            </form>

            <table class="table table-striped mb-4">
              <thead>
                <tr>
                  <th scope="col">ردیف.</th>
                  <th scope="col">عنوان وظیفه</th>
                  <th scope="col">وضعیت</th>
                  <th scope="col">پیشرفت</th>
                  <th scope="col">عملیات</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of filteredTasks; let i = index; trackBy:trackByItems;">
                  <td scope="row">{{i + 1}}</td>
                  <td id="td{{item.id.toString()}}" [ngClass]="{'text-decoration-line-through': item.status == 3}"
                    (mouseenter)="changeCursor(item.id)" (click)="editTask(item.id)">
                    {{item.title}}
                  </td>

                  <td>
                    <ng-container [ngSwitch]="item.status">
                      <span class="text-warning" *ngSwitchCase="1" class="text-danger">انتظار</span>
                      <span class="text-warning" *ngSwitchCase="2" class="text-warning">در حال انجام</span>
                      <span class="text-warning" *ngSwitchCase="3" class="text-success">انجام شده!</span>
                      <span class="text-warning" *ngSwitchDefault class="text-dark">هیچکدام</span>
                    </ng-container>
                  </td>
                 
                  <td>
                    <div class="progress" style="height: 20px;">
                      <div [ngClass]="{'progress-bar progress-bar-striped bg-success': item.status == 3, 'progress-bar progress-bar-striped bg-warning': item.status == 2
                                      , 'progress-bar progress-bar-striped bg-danger': item.status == 1}" role="progressbar"
                        style="width: {{100/3*item.status}}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                       <!-- {{100/3*item.status}}%-->
                      </div>
                    </div>
                  </td>

                  <td>
                    <ng-container [ngSwitch]="item.status">
                      <button type="submit" class="btn btn-outline-warning ms-1" data-toggle="tooltip"
                        title="در حال انجام" *ngSwitchCase="1" (click)="changeStatus(item.id, item.status + 1)">
                        <i class="bi bi-skip-start-btn-fill"></i><!-- در حال انجام--></button>
                      <button type="submit" class="btn btn-outline-info ms-1" data-toggle="tooltip" title="انتظار"
                        *ngSwitchCase="2" (click)="changeStatus(item.id, item.status - 1)">
                        <i class="bi bi-hourglass"></i><!--انتظار--></button>
                      <button type="submit" class="btn btn-outline-info ms-1" data-toggle="tooltip" title="در حال انجام"
                        *ngSwitchCase="3" (click)="changeStatus(item.id, item.status - 1)">
                        <i class="bi bi-skip-start-btn-fill"></i><!-- در حال انجام--></button>
                      <button type="submit" class="btn btn-outline-success ms-1" data-toggle="tooltip"
                        title="پایان یافته" *ngSwitchCase="2" (click)="changeStatus(item.id, item.status + 1)">
                        <i class="bi bi-check-square-fill"></i><!--پایان یافته--></button>
                    </ng-container>
                    <button type="submit" class="btn btn-outline-danger" data-toggle="tooltip" title="حذف"
                      (click)="deleteTask(item.id)">
                      <i class="bi bi-x-square-fill"></i></button>
                  </td>

                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>